a{
    text-decoration: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: top 0.3s;
}
.header.hidden {
    top: -100px; /* Adjust based on your header height */
}   
.header.visible {
    top: 0; /* Default position */
}

.logo{
    background-image: url('../img/logo.png');
    background-size: contain; /* or use 'cover' depending on your requirement */
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-repeat: no-repeat;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 100%;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}